body {
 background-color: #FCFCFC;
 font-family: "Helvetica Neue";
 font-size: 0.925em;
 line-height: 1.50;
}
header {
  color: #334d4d;
  background-color: white;
  display: flex;
  padding: 5px 15px;
  border-bottom: solid .3em #F5F5F5
}
header h1 {
    font-size: 1.1em;
    font-weight: 700;
    padding: 5px 34px 4px 7px;
}
nav, ul, li {
  display: inline-block;
  vertical-align: top;
  padding: 2px 9px 0 0;
}
nav {
  text-align: right;
}
a {
  text-decoration: none;
  color: #334d4d;
}

.statements {
  text-align: center;
  width: 100%;
}
.statements p {
  padding-top: 40%;
  display: inline-block;
  font-size: 3em;
  font-weight: 500;
  color: #334d4d;
  font-family: "Helvetica Neue";
}

@media only screen and (min-width: 50em){
  .statements p {
    padding-top: 21%;
}
}
