html {
  height: 100%;
}
body {
  background-color: #FCFCFC;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.925em;
  line-height: 1.50;
  height: 100%;
}
header {
  width: 100%;
  color: #334d4d;
  background-color: white;
  position: fixed;
  padding: 5px 15px;
  border-bottom: solid .3em #F5F5F5 hide;
  box-shadow: 0px 4px 3px 0px #eee;
  justify-content: space-between;
}
header h1 {
  font-size: 1.1em;
  font-weight: 700;
  padding: .27em 0;
  text-align: center;
}
nav, ul, li {
  vertical-align: top;
  padding: .01em 0 .1em 0;
}
ul {
  display: flex;
}
li {
  flex: 1 0 25%;
  text-align: center;
}
a {
  text-decoration: none;
  color: #334d4d;
}
@media (min-width: 767px) {
  header {
    display: flex;
  }
  header h1 {
    text-align: left;
  }
  nav, ul, li {
    vertical-align: top;
    padding: 2px 9px 0 0;
  }
} /* end of media query*/

.centered-text {
  text-align: center;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32em;
}
@media (max-width: 767px) {
  .centered-text {
    height: 125vh;
  }
}
.centered-text:first-child {
  height: 100vh;
  margin-bottom: 1em;
}
.centered-text h2 {
  font-size: 3em;
  font-weight: 500;
  color: #334d4d;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0 .25em;
  margin-bottom: 5em; /* to change space between heading and statement */
}
.centered-text:first-child h2 {
  margin-bottom: 0;
}
.centered-text p {
  font-size: 1.5em;
  font-weight: 200;
  color: #334d4d;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0em 1em 10em 1em;
}
footer {
  padding: 2em 0 2.5em 0em;
  background-color: white;
  text-align: center;
  border-top: solid .3em #F5F5F5;
}
/* end of styles for index.html */

.header {
  position: relative;
}
.book {
  padding: 2em;
}
.book h1 {
  font-size: 2.75em;
  font-weight: 400;
  text-align: center;
  padding: 2em 0 1.25em 0;
  color: #334d4d;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.book h2, .post h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  padding: 2em 0 1em 0;
  color: #334d4d;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.pages p, .post p {
  font-size: 1.1em;
  font-weight: 200;
  line-height: 1.6em;
  color: #334d4d;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#description {
  font-size: 1.5em;
  padding-bottom: 15em;
}
/* end of styles for books.html */

.notebook {
  padding: 1em;
  }
@media (min-width: 767px) {
  .notebook {
   display: flex;
   flex-direction: row;
  }
}

article {

}
article h2 {
  clear: both;
}
.post {

}
